.default-button {
    background-color: $color-one;
    color: $text-one;
    border: solid 1px #c0c0c0;
    &:hover{
        opacity: 0.9;
    }
}

.default-switch{
    &:checked{
        background-color: $color-one !important;
        border: solid 1px #c0c0c0 !important; 
    }
}