@mixin min($screen) {
    @media only screen and (min-width: $screen+"px") {
        @content;
    }
}

@mixin max($screen) {
    @media only screen and (max-width: $screen+"px") {
        @content;
    }
}

.mobile-only {
    @include min(801) {
        display: none !important;
    }
}

.desktop-only {
    @include max(800) {
        display: none !important;
    }
}

@mixin alignFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-default {
    background-color: $background-default;
}

.background-primary {
    background-color: $color-one;
}

.text-first {
    color: $color-one;
}
.text-light {
    font-size: 2rem;
}
.container-fluid{
    a{
        font-size: 2rem !important;
    }
}