.boxpai{
    background-color: blue;
    width: 40rem;
    height: 40rem;
    @include alignFlex;

    .boxfilho1{
        background-color: red;
        width: 20rem;
        height: 40rem;
    }

    .boxfilho2{
        background-color: green;
        width: 20rem;
        height: 40rem;

        @include max(500){
            background-color: yellow;
        }
    }
}